// Кастомные стили scrollbar

.#{$prefix}-scrollbar {
  @include custom-scrollbar();
}

// Глобальные стили для scrollbar элементов библиотеки
[class*="#{$prefix}"] {
  scrollbar-width: var(--amocrm-vue-ui-kit-palette-scrollbar-width);

  &::-webkit-scrollbar {
    width: var(--amocrm-vue-ui-kit-palette-scrollbar-width);
    background: var(--amocrm-vue-ui-kit-palette-scrollbar-track-background);
    border-radius: var(--amocrm-vue-ui-kit-palette-scrollbar-track-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--amocrm-vue-ui-kit-palette-scrollbar-thumb-background);
    border-radius: var(--amocrm-vue-ui-kit-palette-scrollbar-thumb-border-radius);
  }
}