.list {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;

  display: block;
  width: 100%;
  max-height: var(--crm-ui-kit-list-max-height);
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--crm-ui-kit-list-color);
  background-color: var(--crm-ui-kit-list-background-color);
  border: none;
  border-radius: var(--crm-ui-kit-list-border-radius);
  outline: var(--crm-ui-kit-list-border-width) var(--crm-ui-kit-list-border-style) var(--crm-ui-kit-list-border-color);

  z-index: var(--crm-ui-kit-list-z-index);
  -webkit-overflow-scrolling: touch;

  // Custom scrollbar (same approach as React's CustomScrollClassName)
  scrollbar-color: var(--crm-ui-kit-palette-scrollbar-thumb-background) inherit;

  &::-webkit-scrollbar {
    width: var(--crm-ui-kit-palette-scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--crm-ui-kit-palette-scrollbar-track-background);
    border-radius: var(--crm-ui-kit-palette-scrollbar-track-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--crm-ui-kit-palette-scrollbar-thumb-border-radius);
    background: var(--crm-ui-kit-palette-scrollbar-thumb-background);
  }
}

.empty {
  padding: 7px 12px;
  box-sizing: content-box;
  list-style-type: none;
  color: var(--crm-ui-kit-list-color);
  opacity: 0.5;
  font-size: var(--crm-ui-kit-base-font-size);
}
